<a href="https://colab.research.google.com/github/ScottTeran/sandbox/blob/main/kaggle_tabular_jan22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as pd
import pandas as pd

In [11]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [17]:
# this is an aesthetic choice and just removes the many warnings that some functions and comands produce
# it helps significantly declutter the workbook
import warnings
warnings.filterwarnings('ignore')

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   row_id    26298 non-null  int64
 1   date      26298 non-null  object
 2   country   26298 non-null  object
 3   store     26298 non-null  object
 4   product   26298 non-null  object
 5   num_sold  26298 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.2+ MB

In [13]:
train.head(5)

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [14]:
# Credit to https://www.kaggle.com/ranjeetshrivastav/tps-jan-21-base-xgb
# and https://www.kaggle.com/bernhardklinger/tps-jan-2022/notebook

def feature_eng(df):
    df['date'] = pd.to_datetime(df['date'])
    df['week']= df['date'].dt.week
    df['year'] = 'Y' + df['date'].dt.year.astype(str)
    df['quarter'] = 'Q' + df['date'].dt.quarter.astype(str)
    df['day'] = df['date'].dt.day
    df['dayofyear'] = df['date'].dt.dayofyear
    df.loc[(df.date.dt.is_leap_year) & (df.dayofyear >= 60),'dayofyear'] -= 1
    df['weekend'] = df['date'].dt.weekday >=5
    df['weekday'] = 'WD' + df['date'].dt.weekday.astype(str)
    df.drop(columns=['date'],inplace=True)  

feature_eng(train)
feature_eng(test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [15]:
train.head(5)

   row_id  country       store         product  ...  day  dayofyear weekend weekday
0       0  Finland  KaggleMart      Kaggle Mug  ...    1          1   False     WD3
1       1  Finland  KaggleMart      Kaggle Hat  ...    1          1   False     WD3
2       2  Finland  KaggleMart  Kaggle Sticker  ...    1          1   False     WD3
3       3  Finland  KaggleRama      Kaggle Mug  ...    1          1   False     WD3
4       4  Finland  KaggleRama      Kaggle Hat  ...    1          1   False     WD3

[5 rows x 12 columns]

In [18]:
test.head(5)

   row_id  country       store         product  ...  day dayofyear weekend  weekday
0   26298  Finland  KaggleMart      Kaggle Mug  ...    1         1   False      WD1
1   26299  Finland  KaggleMart      Kaggle Hat  ...    1         1   False      WD1
2   26300  Finland  KaggleMart  Kaggle Sticker  ...    1         1   False      WD1
3   26301  Finland  KaggleRama      Kaggle Mug  ...    1         1   False      WD1
4   26302  Finland  KaggleRama      Kaggle Hat  ...    1         1   False      WD1

[5 rows x 11 columns]